@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Assistant:wght@400;500&family=Jost&family=Nanum+Gothic&family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: 'Jost', sans-serif;
}